@model MVC_Basic.Models.ComicBook

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic Book Gallery";

}

    <div class="row">
        <div class="col-md-6">
            <div class="well">

                <h2>@Model.DisplayText</h2>
                <h5><label>Series Title:</label> @Model.SeriesTitle</h5>
                <h5><label>Issue #:</label> @Model.IssueNumber</h5>
                <h5><label>Favorite:</label> @(Model.Favourit==true ? "Yes":"No")</h5>



                @if (Model.Artist.Length > 0)
                {
                    <h5>Artist :</h5>
                    <div>
                        <ul>
                            @foreach (var ar in Model.Artist)
                            {

                                <li> @ar.Role  @ar.Name</li>
                            }
                        </ul>
                    </div>
                }

            </div>
            <h5>Discription : </h5>
            <p>@Html.Raw(Model.description)</p>

        </div>
        <div class="col-md-6">
            <img src="/Images/@Model.FileName"
                 alt="@Model.DisplayText" class="img-responsive" />
        </div>

    </div>




